* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --global-dark: black;
  --global-light: white;
  --paragraph-lightColor: hsla(0, 0%, 30%, 0.9);
  --btn-background: hsla(0, 0%, 99%, 0);
  --h2DarkColor: hsl(0, 1%, 14%);
  --h1DarkColor: hsl(0, 0%, 9%);
  --textShadowDark: hsla(0, 0%, 0%, 0.8);
  --spanDarkColor: hsla(0, 0%, 20%, 0.911);
  --scrollDark: hsla(0, 0%, 20%, 0.395);
  --background-image: url('../images/600.jpg');
  --background-screen: url('../images/paper-flower-background-4881104_1920.jpg');
  --main-image: url('../images/main-600.png');
}

body.dark-theme {
  --global-dark: hsl(0, 20%, 99%);
  --global-light: black;
  --paragraph-lightColor: hsl(0, 0%, 99%);
  --btn-background: hsl(0, 0%, 89%);
  --h2DarkColor: hsl(0, 0%, 91%);
  --h1DarkColor: hsl(0, 3%, 85%);
  --shadow: white;
  --spanDarkColor: white;
  --scrollDark: white;
  --background-image: black;
  --background-screen: black;
  --main-image: black;
}

@mixin box {
  max-height: 0vh;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.box {
  @include flexColumn();
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  .bg {
    background: var(--background-screen);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1; // this is optional
  }
  header {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    @include flexColumn();
    justify-content: center;
    padding: 0 20px;
    .changeMode {
      position: absolute;
      top: 10px;
      left: 10px;
      text-transform: capitalize;
      color: var(--global-dark);
      font-weight: bolder;
    }
    p {
      margin: 10px 0;
      padding-right: 10px;
      color: var(--paragraph-lightColor);
    }
    h1 {
      line-height: 1;
      color: var(--h1DarkColor);
      text-shadow: 1px 1px 1px var(--textShadowDark);
    }
    h2 {
      color: var(--h2DarkColor);
      margin-top: 10px;
    }
    .scroll {
      color: var(--scrollDark);
      padding: 5px 20px;
      display: inline-block;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-family: 'Courier New', Courier, monospace;
      transition: all 0.3s ease;
      font-weight: bolder;
      box-shadow: 1px 1px 1px var(--paragraph-lightColor);
      border-radius: 3px;
      &:hover {
        color: var(--global-light);
        background: var(--btn-background);
        box-shadow: 1px 1px 1px var(--global-light);
      }
    }
  }

  main {
    color: var(--global-dark);
    h2 {
      margin-left: 20px;
      padding: 5px 0;
    }
    .main-title {
      padding: 30px 0;
      h2 {
        text-align: center;
        margin-left: 0;
      }
      p {
        text-align: center;
      }
    }
    .education {
      .content {
        @include box();
      }
    }
    .certificates {
      .certificates-list {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        li {
          text-align: center;
          p {
            margin-bottom: 5px;
            font-weight: bolder;
          }
          a {
            display: inline-block;
            padding: 5px 10px;
            color: var(--paragraph-lightColor);
            box-shadow: 1px 1px 4px var(--paragraph-lightColor);
            border-radius: 3px;
            &:hover {
              color: var(--global-dark);
            }
          }
        }
      }
      .content {
        @include box();
      }
    }
    .experience {
      .content {
        @include box();
      }
    }
    .languages {
      .content {
        @include box();
        .lang-list {
          @include flexColumn();
          justify-content: space-between;
          li {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            border-bottom: 1px solid #000;
            p {
              display: block;
              padding: 5px 20px;
              color: var(--global-dark);
              font-weight: bolder;
              span {
                color: var(--paragraph-lightColor);
              }
              &:last-child {
                color: var(--paragraph-lightColor);
                font-style: italic;
              }
            }
          }
        }
      }
    }
    .technologies {
      @include flexColumn();
      .content {
        @include box();
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          gap: 5px;
          padding: 10px;
          li {
            i {
              color: var(--paragraph-lightColor);
              font-size: 20px;
            }
            p {
              display: block;
              text-align: center;
              padding: 5px 20px;
              color: var(--global-dark);
              font-weight: bolder;
              border: 1px solid var(--paragraph-lightColor);
              box-shadow: 1px 1px 1px var(--paragraph-lightColor);
              border-radius: 3px;
            }
          }
        }
      }
    }
    .online {
      @include flexColumn();
      .content {
        @include box();
        ul {
          display: flex;
          justify-content: space-between;
          li {
            &:first-child {
              color: var(--global-dark);
              margin-left: 10px;
              padding: 10px;
            }
            &:last-child {
              color: var(--global-dark);
              margin-right: 10px;
              padding: 10px;
            }
            a {
              color: var(--paragraph-lightColor);
              font-weight: bolder;
            }
          }
        }
      }
    }
    .philosophy {
      .content {
        @include box();
      }
      figure {
        blockquote {
          border-left: 10px solid #ccc;
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          quotes: '\201C''\201D''\2018''\2019';
          &::before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
          }
          p {
            display: inline;
          }
        }
        figcaption {
          display: flex;
          justify-content: flex-end;
          q {
            color: var(--global-dark);
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-weight: bolder;
            font-style: italic;
            margin-right: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
    .passion {
      .content {
        @include box();
      }
      .lang-list {
        // @include flexColumn();
        display: flex;
        justify-content: space-between;
        li {
          display: flex;
          justify-content: space-between;
          padding: 5px 0;
          p {
            display: block;
            padding: 5px 20px;
            color: var(--global-dark);
            font-weight: bolder;
            i {
              color: var(--paragraph-lightColor);
            }
          }
        }
      }
    }
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1px;
    &:first-child {
      margin-left: 10px;
    }
    h2 {
      margin-left: 10px;
    }
    .fa-minus {
      margin-right: 20px;
      margin-left: auto;
      background-color: var(--global-dark);
      color: var(--global-light);
      border-radius: 50%;
      padding: 5px;
    }
    .fa-plus {
      margin-right: 20px;
      margin-left: auto;
      background-color: var(--global-dark);
      color: var(--global-light);
      border-radius: 50%;
      padding: 5px;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--global-dark);
    color: var(--global-light);
  }
}

@media screen and (min-width: 500px) {
  body {
    header {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, 1fr);
      .box {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      p {
        font-size: 1.2rem;
      }
      h1 {
        font-size: 2.8rem;
        span {
          display: inline;
        }
      }
      a {
        display: inline-block;
        margin-top: 10px;
      }
    }
    main {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      .main-title {
        grid-column: 2/3;
      }
      .education {
        grid-column: 2/3;
      }
      .certificates {
        grid-column: 2/3;
      }
      .experience {
        grid-column: 2/3;
      }
      .languages {
        grid-column: 2/3;
      }
      .technologies {
        grid-column: 2/3;
        ul {
          display: grid;
          grid-template-columns: repeat(4, auto);
          grid-template-rows: auto;
          li {
            a {
              text-align: center;
            }
          }
        }
      }
      .online {
        grid-column: 2/3;
      }
      .philosophy {
        grid-column: 2/3;
      }
      .passion {
        grid-column: 2/3;
      }
    }
  }
}

.slide {
  transition: max-height 0.3s ease;
  max-height: 100vh !important;
}
