@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  --global-dark: black;
  --global-light: white;
  --paragraph-lightColor: hsla(0, 0%, 30%, 0.9);
  --btn-background: hsla(0, 0%, 99%, 0);
  --h2DarkColor: hsl(0, 1%, 14%);
  --h1DarkColor: hsl(0, 0%, 9%);
  --textShadowDark: hsla(0, 0%, 0%, 0.8);
  --spanDarkColor: hsla(0, 0%, 20%, 0.911);
  --scrollDark: hsla(0, 0%, 20%, 0.395);
  --background-image: url('../images/600.jpg');
  --background-screen: url('../images/paper-flower-background-4881104_1920.jpg');
  --main-image: url('../images/main-600.png');
}

body.dark-theme {
  --global-dark: hsl(0, 20%, 99%);
  --global-light: black;
  --paragraph-lightColor: hsl(0, 0%, 99%);
  --btn-background: hsl(0, 0%, 89%);
  --h2DarkColor: hsl(0, 0%, 91%);
  --h1DarkColor: hsl(0, 3%, 85%);
  --shadow: white;
  --spanDarkColor: white;
  --scrollDark: white;
  --background-image: black;
  --background-screen: black;
  --main-image: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

body .bg {
  background: var(--background-screen);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

body header {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

body header .changeMode {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: capitalize;
  color: var(--global-dark);
  font-weight: bolder;
}

body header p {
  margin: 10px 0;
  padding-right: 10px;
  color: var(--paragraph-lightColor);
}

body header h1 {
  line-height: 1;
  color: var(--h1DarkColor);
  text-shadow: 1px 1px 1px var(--textShadowDark);
}

body header h2 {
  color: var(--h2DarkColor);
  margin-top: 10px;
}

body header .scroll {
  color: var(--scrollDark);
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bolder;
  -webkit-box-shadow: 1px 1px 1px var(--paragraph-lightColor);
          box-shadow: 1px 1px 1px var(--paragraph-lightColor);
  border-radius: 3px;
}

body header .scroll:hover {
  color: var(--global-light);
  background: var(--btn-background);
  -webkit-box-shadow: 1px 1px 1px var(--global-light);
          box-shadow: 1px 1px 1px var(--global-light);
}

body main {
  color: var(--global-dark);
}

body main h2 {
  margin-left: 20px;
  padding: 5px 0;
}

body main .main-title {
  padding: 30px 0;
}

body main .main-title h2 {
  text-align: center;
  margin-left: 0;
}

body main .main-title p {
  text-align: center;
}

body main .education .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .certificates .certificates-list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .certificates .certificates-list li {
  text-align: center;
}

body main .certificates .certificates-list li p {
  margin-bottom: 5px;
  font-weight: bolder;
}

body main .certificates .certificates-list li a {
  display: inline-block;
  padding: 5px 10px;
  color: var(--paragraph-lightColor);
  -webkit-box-shadow: 1px 1px 4px var(--paragraph-lightColor);
          box-shadow: 1px 1px 4px var(--paragraph-lightColor);
  border-radius: 3px;
}

body main .certificates .certificates-list li a:hover {
  color: var(--global-dark);
}

body main .certificates .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .experience .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .languages .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .languages .content .lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .languages .content .lang-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

body main .languages .content .lang-list li p {
  display: block;
  padding: 5px 20px;
  color: var(--global-dark);
  font-weight: bolder;
}

body main .languages .content .lang-list li p span {
  color: var(--paragraph-lightColor);
}

body main .languages .content .lang-list li p:last-child {
  color: var(--paragraph-lightColor);
  font-style: italic;
}

body main .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .technologies .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .technologies .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 5px;
  padding: 10px;
}

body main .technologies .content ul li i {
  color: var(--paragraph-lightColor);
  font-size: 20px;
}

body main .technologies .content ul li p {
  display: block;
  text-align: center;
  padding: 5px 20px;
  color: var(--global-dark);
  font-weight: bolder;
  border: 1px solid var(--paragraph-lightColor);
  -webkit-box-shadow: 1px 1px 1px var(--paragraph-lightColor);
          box-shadow: 1px 1px 1px var(--paragraph-lightColor);
  border-radius: 3px;
}

body main .online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .online .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .online .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .online .content ul li:first-child {
  color: var(--global-dark);
  margin-left: 10px;
  padding: 10px;
}

body main .online .content ul li:last-child {
  color: var(--global-dark);
  margin-right: 10px;
  padding: 10px;
}

body main .online .content ul li a {
  color: var(--paragraph-lightColor);
  font-weight: bolder;
}

body main .philosophy .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .philosophy figure blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

body main .philosophy figure blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

body main .philosophy figure blockquote p {
  display: inline;
}

body main .philosophy figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .philosophy figure figcaption q {
  color: var(--global-dark);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  margin-right: 10px;
  padding-bottom: 10px;
}

body main .passion .content {
  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

body main .passion .lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .passion .lang-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

body main .passion .lang-list li p {
  display: block;
  padding: 5px 20px;
  color: var(--global-dark);
  font-weight: bolder;
}

body main .passion .lang-list li p i {
  color: var(--paragraph-lightColor);
}

body .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1px;
}

body .title:first-child {
  margin-left: 10px;
}

body .title h2 {
  margin-left: 10px;
}

body .title .fa-minus {
  margin-right: 20px;
  margin-left: auto;
  background-color: var(--global-dark);
  color: var(--global-light);
  border-radius: 50%;
  padding: 5px;
}

body .title .fa-plus {
  margin-right: 20px;
  margin-left: auto;
  background-color: var(--global-dark);
  color: var(--global-light);
  border-radius: 50%;
  padding: 5px;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: var(--global-dark);
  color: var(--global-light);
}

@media screen and (min-width: 500px) {
  body header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  body header .box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body header p {
    font-size: 1.2rem;
  }
  body header h1 {
    font-size: 2.8rem;
  }
  body header h1 span {
    display: inline;
  }
  body header a {
    display: inline-block;
    margin-top: 10px;
  }
  body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr 100px;
        grid-template-columns: 100px 1fr 100px;
  }
  body main .main-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .education {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .certificates {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .experience {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .languages {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .technologies {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .technologies ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  body main .technologies ul li a {
    text-align: center;
  }
  body main .online {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .philosophy {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  body main .passion {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.slide {
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  max-height: 100vh !important;
}
/*# sourceMappingURL=style.css.map */