* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  --global-dark: black;
  --paragraph-lightColor: hsla(0, 0%, 30%, 0.9);
  --btn-background: hsla(0, 0%, 99%, 0);
  --h2DarkColor: hsl(0, 1%, 14%);
  --h1DarkColor: hsl(0, 0%, 9%);
  --textShadowDark: hsla(0, 0%, 0%, 0.8);
  --spanDarkColor: hsla(0, 0%, 20%, 0.911);
  --scrollDark: hsla(0, 0%, 20%, 0.795);
  --background-image: url('../images/600.jpg');
  --background-screen: url('../images/paper-flower-background-4881104_1920.jpg');
}

body.dark-theme {
  --global-dark: hsl(0, 20%, 99%);
  --paragraph-lightColor: hsl(0, 0%, 99%);
  --btn-background: hsl(0, 0%, 89%);
  --h2DarkColor: hsl(0, 0%, 91%);
  --h1DarkColor: hsl(0, 3%, 85%);
  --shadow: white;
  --spanDarkColor: white;
  --scrollDark: white;
  --background-image: black;
  --background-screen: black;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

body header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 20px;
}

body header .changeMode {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--global-dark);
  font-weight: bolder;
}

body header p {
  margin: 10px 0;
  padding-right: 10px;
  color: var(--paragraph-lightColor);
}

body header h1 {
  line-height: 1;
  color: var(--h1DarkColor);
  text-shadow: 1px 1px 1px var(--textShadowDark);
}

body header h2 {
  color: var(--h2DarkColor);
  margin-top: 10px;
}

body header .scroll {
  color: var(--scrollDark);
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bolder;
  -webkit-box-shadow: 1px 1px 1px var(--paragraph-lightColor);
          box-shadow: 1px 1px 1px var(--paragraph-lightColor);
  border-radius: 3px;
}

body header .scroll:hover {
  color: var(--global-light);
  background: var(--btn-background);
  -webkit-box-shadow: 1px 1px 1px var(--global-light);
          box-shadow: 1px 1px 1px var(--global-light);
}

@media screen and (min-width: 500px) {
  body header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    background: var(--background-screen);
    background-position: center;
    background-size: cover;
  }
  body header .box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body header p {
    font-size: 1.2rem;
  }
  body header h1 {
    font-size: 2.8rem;
  }
  body header h1 span {
    display: inline;
  }
  body header a {
    display: inline-block;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */